{% extends 'my_base.html' %}

{% block title %}Python Packages{% endblock %}


{% block content %}


  <h2 style="center"> My Most used Python Packages </h2>

  <div class="melon-chart">
    <canvas id="donutChart"></canvas>
    <div id="donutLegend" class="chart-legend"></div>
  </div>

  <div class="melon-chart">
    <canvas id="lineChart"></canvas>
    <div id="lineLegend" class="chart-legend"></div>
  </div>

  <script>
    const options = {
      responsive: true
    };

    // Make Donut Chart of percent of different packages
    let ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/python-packeges.json", function (data) {
      let myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#donutLegend').html(myDonutChart.generateLegend());
    });

    // Make Line Chart of languages over time (python and js)
    let ctx_line = $("#lineChart").get(0).getContext("2d");

    $.get("/python-times.json", function (data) {
      let myLineChart = Chart.Line(ctx_line, {
                                    data: data,
                                    options: options
                                });
      $("#lineLegend").html(myLineChart.generateLegend());
    });

  </script>

{% endblock %}
